<div class="App">
  <app-modal 
    *ngIf="showModal"
    [closeModal]="closeModal"
    [selectedTask]="selectedTask"
    [getTasks]="getTasks"
    [modalType]="modalType"
    ></app-modal>
  <div class="todo-table-container">
    <div class="list-group d-inline-flex p-2 todo-card-column" (dragover)="dragOver($event)" (drop)="dragDrop('TODO')">
      <h2 class="column-title">To-do</h2>
      <app-todo-card *ngFor="let task of filterTasks(tasks, 'TODO')"
        draggable="true"
        (dragstart)="setSelectedTask(task)"
        [task]="task"
        [deleteTask]="deleteTask"
        [setSelectedTask]="setSelectedTask"
        [openModal]="openModal"
        >
      </app-todo-card>
    </div>
    <div class="list-group d-inline-flex p-2 todo-card-column" (dragover)="dragOver($event)" (drop)="dragDrop('PROGRESS')">
      <h2 class="column-title">In-Progress</h2>
      <app-todo-card *ngFor="let task of filterTasks(tasks, 'PROGRESS')"
        draggable="true"
        (dragstart)="setSelectedTask(task)"
        [task]="task"
        [deleteTask]="deleteTask"
        [setSelectedTask]="setSelectedTask"
        [openModal]="openModal"
        >
      </app-todo-card>
    </div>
    <div class="list-group d-inline-flex p-2 todo-card-column" (dragover)="dragOver($event)" (drop)="dragDrop('DONE')">
      <h2 class="column-title">Done</h2>
      <app-todo-card *ngFor="let task of filterTasks(tasks, 'DONE')"
        draggable="true"
        (dragstart)="setSelectedTask(task)"
        [task]="task"
        [deleteTask]="deleteTask"
        [setSelectedTask]="setSelectedTask"
        [openModal]="openModal"
        >
    </app-todo-card>
    </div>
  </div>
  <div class='addBtn-container'>
    <button 
      type="button" 
      class="btn btn-primary addBtn"
      (click)="setSelectedTask(null);
              openModal('ADD')"
                >Add new task</button>
  </div>
</div>